---
import BaseLayout from "@layouts/BaseLayout.astro";
import MetaTags from "@components/MetaTags.astro";
import Header from "@components/Header.astro";
---

<BaseLayout>
  <MetaTags
    title="St Patricks 2023 K3/K4 and 4th Grade Play"
    description="Videos from the St. Patricks K3/K4 and 4th grade play ...."
  />

  <!-- Video Section 1 -->
  <div class="my-8">
    <h2 class="text-2xl font-semibold text-center mb-4">4th Grade Play</h2>
    <div class="relative pb-[56.25%]">
      <iframe
        src="https://player.vimeo.com/video/897088170?badge=0&autopause=0&player_id=0&app_id=58479"
        class="absolute top-0 left-0 w-full h-full"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        title="4th Grade Play"></iframe>
    </div>
  </div>

  <!-- Video Section 2 -->
  <div class="my-8">
    <h2 class="text-2xl font-semibold text-center mb-4">K3 and K4 Play</h2>
    <div class="relative pb-[56.25%]">
      <iframe
        src="https://player.vimeo.com/video/897064226?badge=0&autopause=0&player_id=0&app_id=58479"
        class="absolute top-0 left-0 w-full h-full"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        title="St Patricks CC K3 and K4 play"></iframe>
    </div>
  </div>

  <script src="https://player.vimeo.com/api/player.js"></script>
</BaseLayout>
