---
const currentYear = new Date().getFullYear();
---

<footer class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
  <!-- Footer Text -->
  <p>
    &copy; {currentYear} Indira Luther, Corpus Christi, TX
  </p>
</footer>
