---
// Import components
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <style is:global>
    /* Unscoped, delivered as-is to the browser.
     Applies to all <h1> tags on your site. */
    h1 {
      font-size: 3rem;
    }
  </style>
</html>
